<!-- <router-outlet></router-outlet> -->

<nav class="navbar bg-body-tertiary">
	<div class="container-fluid">
		<span class="navbar-text">
			Agregar tareas en el LocalStorage con Angular
		</span>
	</div>
</nav>

<section class="container mt-3 d-flex flex-column align-items-center gap-4">
	<div class="d-flex gap-2">
		<input
			#input
			type="text"
			placeholder="Escribir tarea aquí"
			class="p-2 border-2 rounded"
			[(ngModel)]="newTask"
			(keyup.enter)="addTask()"
		/>
		<input
			type="submit"
			value="agregar"
			class="btn text-light"
			style="background: #4a8;"
			(click)="addTask()"
		/>
	</div>

	<!-- class="list-group"  style="min-width: 500px;" -->
	<ul style="min-width: 500px;">
		<li *ngFor="let task of tasks; let i = index" class="d-flex gap-2 mt-2" >
			<span class="w-75 bg-light p-2 rounded">{{task}}</span>
			<button class="btn btn-danger" (click)="removeTask(i)">Eliminar</button>
		</li>
	</ul>
</section>
